<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid row mt-2">
    <nav><th:block th:include="/_menu"></th:block></nav>
    <main class="col-md-10">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title float-left">
                    List product
                    <small class="text-muted">show all product</small>
                </h3>
                <a href="/product/create" class="btn float-right"><i class="fas fa-plus-circle"></i> Create new product</a>
                <div class="clearfix"></div>
                <div class="alert alert-success d-none" role="alert" id="messageSuccess"></div>
                <div class="alert alert-danger d-none" role="alert" id="messageError"></div>
                <table class="table table-striped">
                    <thead>
                    <tr class="row">
                        <th class="col-md-1"></th>
                        <th class="col-md-1">#</th>
                        <th class="col-md-2">Avatar</th>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-2">Price</th>
                        <th class="col-md-2">detail</th>
                        <th class="col-md-2">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="products : ${pagination.getContent()}" class="row" th:id="${'product-' + products.id}">
                        <td><input type="checkbox" class="check-item" th:value="${products.id}"></td>
                        <td class="col-md-1" th:text="${products.id}"></td>
                        <td class="col-md-2">
                            <div class="rounded img-thumbnail"
                                 th:style="'background-image:url(' + ${products.imgUrl} + '); background-size:cover; width:70px; height:70px;'">
                            </div>
                        </td>
                        <td class="col-md-2 product-name" th:text="${products.name}"></td>
                        <td class="col-md-2" th:text="${products.price}"></td>
                        <td class="col-md-2" th:text="${products.detail}"></td>
                        <td class="col-md-2">
                            <a class="btn-link mr-2" th:href="@{/product/edit/{id}(id=${products.id})}">Edit</a>
                            <a class="btn-link btn-delete-product" href="#">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure want to delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnDelete">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    var currentProductId;
    $('.btn-delete-product').click(function () {
        var tr = $(this).closest('tr');
        currentProductId = tr.attr('id').replace('product-', '');
        var pname = tr.find('.product-name').text();
        $('#modalBody').text(pname);
        $('#exampleModal').modal('show');
    });

    $('#btnDelete').click(function () {
        $.ajax({
            url: '/endpoint/product/delete/' + currentProductId,
            type: 'DELETE',
            success: function (resp) {
                $('#product-' + currentProductId).remove();
                $('#messageSuccess').text('Action success!');
                $('#messageSuccess').removeClass('d-none');
                $('#exampleModal').modal('hide');
            },
            error: function () {
                $('#messageError').text('Action fails! Please try again later!');
                $('#messageError').removeClass('d-none');
                $('#exampleModal').modal('hide');
            }
        });
    });

    $('#checkAllList').click(function () {
        $('.check-item').prop('checked', $(this).is(':checked'));
    });

    $('#btnApply').click(function () {
        switch ($('#actionSelectAll').val()) {
            case '0':
                alert('Please choose an action.');
                break;
            case '1':
                deleteMany();
                break;
            case '2':
                alert('Building function.');
                break;
        }
    });

    function deleteMany() {
        var ids = [];
        $('.check-item:checked').each(function (index) {
            ids.push($(this).val());
        });
        if (ids.length == 0) {
            alert('Please choose at least 1 product.');
            return;
        }
        $.ajax({
            url: '/endpoint/product/delete-many',
            type: 'DELETE',
            data: {
                ids: ids.join(',')
            },
            success: function () {
                alert(1);
            },
            error: function () {
                alert(2);
            }
        });
    }

</script>
<div th:replace="layout/frag :: footer"></div>
</body>
</html>