<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <head th:replace="layout/client/_menu :: head(title='Destinations Page')"></head>
</head>
<div th:replace="layout/client/_menu :: header(title='Destinations Page')"></div>
<body>
<div class="container-fluid row mt-2">
    <main class="col-md-10">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title float-left">
                   product
                </h3>
                <table class="table table-striped">
                    <thead>
                    <tr class="row">
                        <th class="col-md-1">#</th>
                        <th class="col-md-2">Avatar</th>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-2">Price</th>
                        <th class="col-md-2">detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="products:${products}" class="row">
                        <td class="col-md-1" th:text="${products.id}"></td>
                        <td class="col-md-2">
                            <div class="rounded img-thumbnail"
                                 th:style="'background-image:url(' + ${products.imgUrl} + '); background-size:cover; width:70px; height:70px;'">
                            </div>
                        </td>
                        <td class="col-md-2 product-name" th:text="${products.name}"></td>
                        <td class="col-md-2" th:text="${products.price}"></td>
                        <td class="col-md-2" th:text="${products.detail}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<div th:replace="layout/client/_footer :: footer"></div>
</body>
</html>