<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--Heading-->
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="${title}"></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>

    <!--Header-->
    <nav th:fragment="header" class="navbar navbar-light bg-light">
        <div class="col-md-3">
            <a class="navbar-brand" href="#">

            </a>
            <span class="text-muted"> </span>
        </div>
        <div class="col-md-7">
        </div>
        <div class="col-md-2 mt-3">
            <div class="mt-3">
                <strong>Admin</strong>
                <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>

    <!--Menu-->
    <div class="nav flex-column nav-tabs" th:fragment="menu">
        <a class="nav-link" href="/product/list">Home</a>
        <a class="nav-link" href="/product/list"> Destinations  </a>
    </div>

    <!--Footer-->
    <footer th:fragment="footer" class="container-fluid mt-3 mb-3">
        <p class="text-center"> Pham Viet Khanh </p>
    </footer>
</html>